@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consigue Tu Celular</h1>
    <div class="content">
        <div class="text">En esta página podrás crear una gran variedad de celulares con diferentes precios, además podrás crear personas para que puedan adquirir su celular</div>
        <img src="images/meme.jpg" alt="Imagen de meme" width="100" height="auto" />
    </div>
    
    <button type="button" class="btn btn-info" onclick="CrearAlerta">Info</button>
   
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>

